html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
cite,
code,
del,
em,
font,
img,
ins,
small,
strong,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  _background-attachment: fixed;
}
body {
  -webkit-text-size-adjust: none;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 12px;
  color: #707070;
}
ol,
ul,
li {
  list-style: none outside none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #666;
}
img {
  border: none;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
tr,
td,
th {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #474747;
  line-height: 100%;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
i,
em,
b,
strong {
  font-style: normal;
  font-weight: normal;
}
input,
textarea,
select {
  padding: 0;
  border: 1px solid #CCC;
  font-family: inherit;
}
